.wrapper.svg-map
  margin-top 50px
  margin-bottom 20px

.section.svg.map.zh-circle
  max-width 640px
  margin 0 auto

svg
  float none

svg path:hover
  cursor pointer

g.tooltip-wrapper.map
  position absolute
  left 0px

h3
  font-size 1.5em

.graphic.legend
  font-size 0.9em
  color #5A686D
  margin-top 25px

div.legend
  float right
  position relative
  right 5px
  margin-top -40px
  bottom 20px

div.legend div
  text-align right
  font-size 0.9em
  color #5a686d

path.highlight
  opacity: 0

path
  stroke-alignment inner
  stroke white
  stroke-width 2

.annotation
  position absolute
