<!doctype html>
<html lang="<%= htmlWebpackPlugin.options.language %>">
<head>
  <meta charset="utf-8">
  <title><%= htmlWebpackPlugin.options.pageTitle %></title>

  <% if (htmlWebpackPlugin.options.baseHref) { %>
  <base href="<%= htmlWebpackPlugin.options.baseHref %>"/>
  <% } %>

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="robots" content="index,follow">
  <meta name="description"
        content="<%= htmlWebpackPlugin.options.description %>">
  <meta name="author" content="<%= htmlWebpackPlugin.options.author %>">
  <meta name="keywords" content="<%= htmlWebpackPlugin.options.keywords %>">

  <link rel="canonical" href="<%= htmlWebpackPlugin.options.canonicalUrl %>">

  <!-- Open Graph Metadata -->
  <meta property="og:title"
        content="<%= htmlWebpackPlugin.options.pageTitle %>">
  <meta property="og:description"
        content="<%= htmlWebpackPlugin.options.description %>">
  <meta property="og:image"
        content="<%= htmlWebpackPlugin.options.image %>">
  <meta property="og:url"
        content="<%= htmlWebpackPlugin.options.canonicalUrl %>">
  <meta property="og:locale"
        content="<%= htmlWebpackPlugin.options.locale %>">
  <meta property="og:site_name"
        content="<%= htmlWebpackPlugin.options.site_name %>">
  <!-- /Open Graph Metadata -->

  <!-- Twitter Metadata -->
  <meta property="twitter:card"
        content="summary_large_image">
  <meta property="twitter:site"
        content="<%= htmlWebpackPlugin.options.twitterSite %>">
  <meta property="twitter:creator"
        content="<%= htmlWebpackPlugin.options.twitterCreator %>">
  <meta property="twitter:title"
        content="<%= htmlWebpackPlugin.options.pageTitle %>">
  <meta property="twitter:description"
        content="<%= htmlWebpackPlugin.options.description %>">
  <meta property="twitter:image"
        content="<%= htmlWebpackPlugin.options.image %>">
  <!-- /Twitter Metadata -->

  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <% if (htmlWebpackPlugin.options.showLoader) { %>
  <style>
    /*!
 * # Semantic UI 2.1.8 - Dimmer
 * http://github.com/semantic-org/semantic-ui/
 *
 *
 * Copyright 2015 Contributors
 * Released under the MIT license
 * http://opensource.org/licenses/MIT
 *
 */

    /*******************************
                Dimmer
    *******************************/

    .ui.dimmer {
      display: none;
      position: absolute;
      top: 0em !important;
      left: 0em !important;
      width: 100%;
      height: 100%;
      text-align: center;
      vertical-align: middle;
      background-color: rgba(0, 0, 0, 0.85);
      opacity: 0;
      line-height: 1;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-duration: 0.5s;
      animation-duration: 0.5s;
      -webkit-transition: background-color 0.5s linear;
      transition: background-color 0.5s linear;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      will-change: opacity;
      z-index: 1000;
    }

    /* Loose Coupling */
    .ui.segment > .ui.dimmer {
      border-radius: inherit !important;
    }

    /*******************************
               Variations
    *******************************/

    /*--------------
          Page
    ---------------*/

    .ui.page.dimmer {
      position: fixed;
      -webkit-transform-style: '';
      transform-style: '';
      -webkit-perspective: 2000px;
      perspective: 2000px;
      -webkit-transform-origin: center center;
      transform-origin: center center;
    }

    body.dimmable > .dimmer {
      position: fixed;
    }

    /*--------------
        Blurring
    ---------------*/

    .blurring.dimmable > :not(.dimmer) {
      -webkit-filter: blur(0px) grayscale(0);
      filter: blur(0px) grayscale(0);
      -webkit-transition: 800ms filter ease;
      transition: 800ms filter ease;
    }

    .blurring.dimmed.dimmable > :not(.dimmer) {
      -webkit-filter: blur(5px) grayscale(0.7);
      filter: blur(5px) grayscale(0.7);
    }

    /* Dimmer Color */
    .blurring.dimmable > .dimmer {
      background-color: rgba(0, 0, 0, 0.6);
    }

    .blurring.dimmable > .inverted.dimmer {
      background-color: rgba(255, 255, 255, 0.6);
    }

    /*--------------
        Aligned
    ---------------*/

    .ui.dimmer > .top.aligned.content > * {
      vertical-align: top;
    }

    .ui.dimmer > .bottom.aligned.content > * {
      vertical-align: bottom;
    }

    /*--------------
        Inverted
    ---------------*/

    .ui.inverted.dimmer {
      background-color: rgba(255, 255, 255, 0.85);
    }

    .ui.inverted.dimmer > .content > * {
      color: #FFFFFF;
    }

    /*******************************
             Theme Overrides
    *******************************/

    /*******************************
            User Overrides
    *******************************/

    /*!
     * # Semantic UI 2.2.0 - Loader
     * http://github.com/semantic-org/semantic-ui/
     *
     *
     * Released under the MIT license
     * http://opensource.org/licenses/MIT
     *
     */

    /*******************************
                Loader
    *******************************/

    /* Standard Size */
    .ui.loader {
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: 0px;
      text-align: center;
      z-index: 1000;
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
    }

    /* Static Shape */
    .ui.loader:before {
      position: absolute;
      content: '';
      top: 0%;
      left: 50%;
      width: 100%;
      height: 100%;
      border-radius: 500rem;
      border: 0.2em solid rgba(0, 0, 0, 0.1);
    }

    /* Active Shape */
    .ui.loader:after {
      position: absolute;
      content: '';
      top: 0%;
      left: 50%;
      width: 100%;
      height: 100%;
      -webkit-animation: loader 0.6s linear;
      animation: loader 0.6s linear;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      border-radius: 500rem;
      border-color: #767676 transparent transparent;
      border-style: solid;
      border-width: 0.2em;
      box-shadow: 0px 0px 0px 1px transparent;
    }

    /* Active Animation */
    @-webkit-keyframes loader {
      from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }

    @keyframes loader {
      from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }

    .ui.loader:before,
    .ui.loader:after {
      width: 2rem;
      height: 2rem;
      margin: 0em 0em 0em -1rem;
    }

    .ui.huge.loader:before,
    .ui.huge.loader:after {
      width: 3.625rem;
      height: 3.625rem;
      margin: 0em 0em 0em -1.8125rem;
    }

    /*-------------------
          Coupling
    --------------------*/

    /* Show inside active dimmer */
    .ui.dimmer .loader {
      display: block;
    }

    /* Black Dimmer */
    .ui.dimmer .ui.loader {
      color: rgba(255, 255, 255, 0.9);
    }

    .ui.dimmer .ui.loader:before {
      border-color: rgba(255, 255, 255, 0.15);
    }

    .ui.dimmer .ui.loader:after {
      border-color: #FFFFFF transparent transparent;
    }

    /* White Dimmer (Inverted) */
    .ui.inverted.dimmer .ui.loader {
      color: rgba(0, 0, 0, 0.87);
    }

    .ui.inverted.dimmer .ui.loader:before {
      border-color: rgba(0, 0, 0, 0.1);
    }

    .ui.inverted.dimmer .ui.loader:after {
      border-color: #767676 transparent transparent;
    }

    /*******************************
                States
    *******************************/

    .ui.loader.active,
    .ui.loader.visible {
      display: block;
    }

    .ui.loader.disabled,
    .ui.loader.hidden {
      display: none;
    }

    /*******************************
                Variations
    *******************************/

    /*-------------------
            Sizes
    --------------------*/

    .ui.inverted.dimmer .ui.loader,
    .ui.loader {
      width: 2rem;
      height: 2rem;
      font-size: 1em;
    }

    .ui.inverted.dimmer .ui.huge.loader,
    .ui.huge.loader {
      width: 3.625rem;
      height: 3.625rem;
      font-size: 1.4375em;
    }

    /*-------------------
           Inverted
    --------------------*/

    .ui.inverted.loader {
      color: rgba(255, 255, 255, 0.9);
    }

    .ui.inverted.loader:before {
      border-color: rgba(255, 255, 255, 0.15);
    }

    .ui.inverted.loader:after {
      border-top-color: #FFFFFF;
    }


  </style>
  <% } %>

  <% if (htmlWebpackPlugin.options.useDimensionWatcher) { %>
  <script src="https://files.newsnetz.ch/scripts/dimension_watcher.js"></script>
  <% } %>

</head>
<body>
<div id="app">
  <% if (htmlWebpackPlugin.options.showLoader) { %>
  <div class="ui active <% htmlWebpackPlugin.options.lightLoader ? 'inverted' : ''; %> page dimmer">
    <div class="ui huge loader">
    </div>
  </div>
  <% } %>
</div>
<%= htmlWebpackPlugin.files.webpackManifest %>
<% if (htmlWebpackPlugin.options.useDimensionWatcher) { %>
<!-- DimensionWatcher Initialisation -->
<script>
  DimensionWatcher.enableParentNotification(
    function () {
      return '100%';
    },
    function () {
      return document.body.scrollHeight;
    }
  );
</script>
<% } %>

</body>
</html>
